

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/.env

# Build folders
frontend/build/
frontend/dist/
backend/dist/

# Logs
*.log